/* SIDENAV START */
.sidenav-container {
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
  left: 0px;
  top: 0px;
  box-shadow: 10px 8px 16px rgba(145, 158, 171, 0.16);
  background-color: #ffffff;
}
.logo {
  padding: 0px 20px;
}
.collapse-btn {
  padding-top: 30px;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 0px 20px;
  cursor: pointer;
}
.active {
  border-left: 4px solid #ff8000;
  padding: 0px 14px;
}
.nav-icon {
  display: flex;
}
.nav-text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  /* font-weight: 400; */
}
.active-text {
  color: rgba(0, 0, 0);
  font-weight: 500;
}
.info {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  width: 35px;
  text-align: center;
  color: #ff8000;
}
/* SIDENAV END */

/* TOPNAV START */
.topnav-container {
  height: 70px;
  box-shadow: 0px 1px 2px 0px rgba(145, 158, 171, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.left-block {
  position: relative;
  left: 210px;
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
}
.group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 30px;
}
.search {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.tour,
.help {
  display: flex;
  align-items: center;
  gap: 8px;
}
.search-icon,
.help-icon,
.tour-icon {
  display: flex;
}
.search-text,
.help-text,
.tour-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.42);
}
.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 30px;
}
.user-icon,
.drop-arrow {
  display: "flex";
}
.right-block {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* TOPNAV END */

.content-container {
  top: 70px;
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  display: flex;
  overflow: hidden;
}
.main-content {
  width: 80%;
  overflow: auto;
}
.top {
  position: absolute;
  font-size: 80px;
  top: 0px;
  opacity: 0.2;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 500;
  left: 40px;
}
.questions {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.42);
  line-height: 160%;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.bar-text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  cursor: pointer;
}

.active-bar {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  background-color: #ff8000;
  border: 1px solid #ff8000;
  border-radius: 25px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured {
  display: flex;
  align-items: center;
  gap: 8px;
}
.featured-info {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  width: 35px;
  color: #ff8000;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desctiption-container {
  padding-top: 15px;
}
.description-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding-bottom: 15px;
}

.desc-left-block {
  /* padding-left: 40px; */
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  width: 410px;
  font-size: 14px;
  line-height: 24px;
  color: #3366bb;
  font-weight: 500;
  cursor: pointer;
}
.category-block {
  display: flex;
  align-items: center;
  gap: 12px;
}
.category {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modified {
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

.user {
  font-weight: 500;
}

.desc-right-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.votes,
.answer,
.views {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.vote-number,
.answer-number,
.view-number {
  color: rgba(0, 0, 0, 0.42);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.vote-text,
.answer-text,
.view-text {
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}
.vote-icon,
.answer-icon,
.view-icon {
  cursor: pointer;
}
.more-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.second-logo {
  display: flex;
  justify-content: center;
}

.looking-text {
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.87);
}
.more-text {
  font-size: 14px;
  line-height: 24px;
  width: 440px;
  padding-top: 6px;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.right-navigation-content {
  /* position: fixed; */
  right: 0px;
  /* height: 100%; */
  width: 20%;
  background: #f5f5f5;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  overflow: auto;
}
.job-content {
  padding-top: 40px;
  padding-left: 25px;
}
.jobs {
  position: absolute;
  font-size: 80px;
  top: 0px;
  opacity: 0.2;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 500;
}
.looking {
  font-size: 18px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 500;
}
.job-block {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 15px;
}
.job-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.job-title {
  font-size: 12px;
  line-height: 16px;
  color: #3366bb;
  font-weight: 500;
  cursor: pointer;
}
.job-company {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  cursor: pointer;
}
.salary {
  font-size: 12px;
  line-height: 16px;
  color: rgba(113, 190, 57, 0.78);
  font-weight: 300;
  cursor: pointer;
}
.type {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 6px;
}
.location,
.work {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  cursor: pointer;
}
.location-icon {
  display: flex;
}
.job-category-block {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 6px;
}

.job-category {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.view-jobs {
  font-size: 12px;
  line-height: 16px;
  color: #3366bb;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 30px;
}

.network-content {
  padding-top: 40px;
  padding-left: 25px;
  position: relative;
}
.hot {
  position: absolute;
  font-size: 80px;
  top: 0px;
  opacity: 0.2;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 500;
}
.network {
  font-size: 18px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.42);
  font-weight: 500;
}
.network-group {
  padding-top: 35px;
  padding-right: 10px;
}
.network-title {
  font-size: 12px;
  line-height: 16px;
  color: #3366bb;
  font-weight: 500;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.view-network {
  font-size: 12px;
  line-height: 16px;
  color: #3366bb;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 30px;
}
